:global{
  .next-tabs.next-medium .next-tabs-tab-inner{
    .next-icon .next-icon-remote{
      width: 20px;
      font-size: 20px;
    }
    span{
      font-size: 15px;
    }
  }
}
.panel{
  background-color: #fff;
  padding: 20px;
}
.search{
  margin-top: 20px;
  :global{
    .next-btn-text.next-medium{
      height: 32px;
    }
  }
}
.list{
  overflow: auto;
  padding: 20px 0;
  :global{
    .bar{
      margin-bottom: 10px;
      & > span,
      & > button{
        margin-right: 10px;
      }
    }
    .next-table-expanded-row > td:last-child > .products{
      margin-left: -50px;
      background-color: #f7f7f7;
      p{
        margin: 0;
        height: 48px;
        line-height: 48px;
        padding-left: 118px;
      }
      .next-table table{
        background: transparent;
      }
      .next-table th{
        background: #f7f7f7;
      }
      .next-table th:first-child,
      .next-table td:first-child{
        padding-left: 100px;
        width: 200px;
      }
      .next-table-row{
        background: transparent;
      }
    }
    .next-pagination{
      text-align: center;
      margin-top: 30px;
    }
  }
}
